@import "../styles/global.scss";

.container {
    min-height: calc(100vh - 200px);
    padding: 0 200px;
    margin-bottom: 50px;
    margin-top: 20px;
    
    .image {
        width: 100%;
    }
    .title {}
    .discription {}
}
