@import "../styles/global.scss";

.container {
    min-height: calc(100vh - 200px);
    padding: 0 200px;
    margin-bottom: 50px;
    .newsList {
        list-style: none;
        padding: 0;
        .item {
            font-family: sans-serif;
            display: flex;
            border-bottom: 1px solid #ddd;
            padding: 20px 0;

            .image {
                object-fit: cover;
                width: 150px;
                height: 100px;
                margin-right: 20px;
            }

            &:last-of-type {
                border: none;
                padding-bottom: 0;
            }

            .text {
                .date {
                    margin-right: 15px;
                }
                .title {
                }
            }
        }

        .separationLine {
            color: gray;
            stroke-width: 0.5px;
        }
    }
}
