@import "../styles/global.scss";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 15px 200px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    .logoContainer {
        max-height: 150px;
        .logo {
            height: 70px;
        }
    }
    .linkContainer {
        .link {
            color: #000;
            text-decoration: none;
        }
    }
}
