@import "../../styles/global.scss";

.container {
    min-height: calc(100vh - 200px);
    padding: 0 200px;
    margin-bottom: 50px;
    margin-top: 20px;
    
    .image {
        width: 100%;
        height: auto;
    }
    .title {
        font-size: 20px;
    }
    .discription {
        margin: 16px 0 16px 0;
    }
}
